// Base styles for card
.card {
    border: 1px solid $card-border-color;
    border-radius: $card-border-radius;
    background-color: $card-bg-color;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // Image on top style
    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    // Card header
    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);

        &:first-child {
            border-radius: calc(var(--fx-border-radius, 0.25rem) - 1px) calc(var(--fx-border-radius, 0.25rem) - 1px) 0 0;
        }
    }

    // Card footer
    .card-footer {
        padding: 0.75rem 1.25rem;
        background-color: rgba(0, 0, 0, 0.03);
        border-top: 1px solid rgba(0, 0, 0, 0.125);

        &:last-child {
            border-radius: 0 0 calc(var(--fx-border-radius, 0.25rem) - 1px) calc(var(--fx-border-radius, 0.25rem) - 1px);
        }
    }
    // Card body styles
    .card-body {
        padding: $card-padding;

        .card-title {
            margin-top: 0;
            font-size: 1.25rem;
        }

        .card-text {
            margin-bottom: 0;
            color: #666;
        }
    }
}


// Horizontal card
.card-horizontal {
    flex-direction: row;

    img {
        width: 100%;
        max-width: 150px;
        height: auto;
        border-right: 1px solid $card-border-color;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
    }
}

