// Global variables for the framework
$prefix: 'fs';

// Base font settings
$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

// Font weight scale
$font-weights: (
    1: 100,
    2: 200,
    3: 300,
    4: 400,
    5: 500,
    6: 600,
    7: 700,
    8: 800,
    9: 900
);

// Font size scale (fs-1 to fs-8)
$font-sizes: (
    1: 0.75rem, // 12px
    2: 0.875rem, // 14px
    3: 1rem,     // 16px (standard size)
    4: 1.125rem, // 18px
    5: 1.25rem,  // 20px
    6: 1.5rem,   // 24px
    7: 2rem,     // 32px
    8: 2.5rem    // 40px
);

// Line height scale
$line-height-base: 1.5;

// Primary and secondary colors
// Color palette variables
$primary: #5f3a82;
$secondary: #82a35f;
$tertiary: #a3826b;

$success: #4caf50;
$warning: #f0ad4e;
$danger: #d9534f;
$info: #5bc0de;

$light: #f9f9f9;
$dark: #333333;


// Theme colors
$theme-colors: (
    "primary":      $primary,
    "secondary":    $secondary,
    "tertiary":     $tertiary,
    "success":      $success,
    "warning":      $warning,
    "danger":       $danger,
    "info":         $info,
    "light":        $light,
    "dark":         $dark,
);

// Basic palette colors
$palette-colors: (
    "white": #FFFFFF,
    "silver": #C0C0C0,
    "gray": #808080,
    "black": #000000,
    "red": #FF0000,
    "maroon": #800000,
    "yellow": #FFFF00,
    "olive": #808000,
    "lime": #00FF00,
    "green": #008000,
    "aqua": #00FFFF,
    "teal": #008080,
    "blue": #0000FF,
    "navy": #000080,
    "fuchsia": #FF00FF,
    "purple": #800080
);

// Activate all colors palette
$use-all-colors: false !default;

// Color variations (min 10 max 100)
$color-variants: (
    10,
    20,
    30,
    40,
    50,
    60,
    70,
    80,
    90,
);

// Base font settings
$font-size-base: 16px;
$font-family-base: Arial, sans-serif;

// Breakpoints for responsive design
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1500px,
    3xl: 1800px,
) !default;

// Breakpoints for responsive design
$containers-width: (
    sm: 540px,
    md: 720px,
    lg: 930px,
    xl: 1140px,
    xxl: 1420px,
    3xl: 1720px
) !default;

// Base spacing
$spacer: 16px;

// Spacing scale for consistent margin and padding sizes
$spacing: (
    0: 0,
    1: $spacer * 0.25, // 4px
    2: $spacer * 0.5,  // 8px
    3: $spacer,        // 16px
    4: $spacer * 1.5,  // 24px
    5: $spacer * 2,    // 32px
    6: $spacer * 3,    // 48px
    7: $spacer * 4,    // 64px
    8: $spacer * 5     // 80px
) !default;

// Borders
// Border widths variable
$border-widths: (
    1: 1px,
    2: 2px,
    3: 3px,
    4: 4px,
    5: 5px,
    6: 6px,
    7: 7px,
    8: 8px
);
// Generate border classes for each side
$border-sides: (
    all: '', // For border (all sides)
    t: 'top',
    b: 'bottom',
    s: 'start',
    e: 'end'
);
// Default border color
$border-color: #999999;

// Variable for the default border width
$border-width: 1px;


// Shadows
// Variables for box shadow sizes
$shadow-sizes: (
    sm: 1px 1px 2px,
    md: 4px 4px 8px,
    lg: 8px 8px 16px,
    xl: 12px 12px 24px
);
// Default shadow color
$default-shadow-color: rgba(0, 0, 0, 0.4);

// Default shadow size
$default-shadow-size: 1px 1px 2px;
// Opacity levels
$opacities: (
    1: 0.1,
    2: 0.2,
    3: 0.3,
    4: 0.4,
    5: 0.5,
    6: 0.6,
    7: 0.7,
    8: 0.8,
    9: 0.9
);

// Define a scale for width and height
$size-scale: (
    0: 0,
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
);

$viewport-size-scale: (
    0: 0,
    25: 25,
    50: 50,
    75: 75,
    100: 100,
);

// Define a scale for border radius using numerical values
$border-radius-scale: (
        0: 0,
        2: 2px,
        4: 4px,
        6: 6px,
        8: 8px,
        12: 12px,
        16: 16px,
        24: 24px,
        32: 32px,
        48: 48px,
        9999: 9999px // effectively a circle for large values
);

$base-border-radius: 6px;